<ul>
{{#each lists as |expiration_date|}}
  <!-- {{> partial}} -->


 <!-- Developers, why are we using data-id and not just id? -->
 <div>
    {{#if expiration_date.date}}
      <ul>
      <li class="list-group-date" data-id="{{expiration_date.id}}">Expiration Date: {{expiration_date.date}} </li>
      <li class="list-group-item"> ID : {{expiration_date.id}} </li>
      <li class="list-group-item"> Item : {{expiration_date.item_name}} </li>
      <li class="list-group-item">  Category: {{expiration_date.category}} </li>
      <button id="edit" class="btn btn-default">Edit item</button>
      <button id="remove" class="btn btn-default" data-id="{{expiration_date.id}}">remove item</button>
    {{else}}
      <li class="list-group-date" data-id="{{expiration_date.id}}">Expiration Date: N/A </li>
      <li class="list-group-item"> ID : {{expiration_date.id}} </li>
      <li class="list-group-item"> Item : {{expiration_date.item_name}} </li>
      <li class="list-group-item">  Category: {{expiration_date.category}} </li>
      <button id="edit" class="btn btn-default">Edit item</button>
      <button id="remove" class="btn btn-default" data-id="{{expiration_date.id}}">remove item</button>
    {{/if}}
  </div>
</li>
{{/each}}
</ul>
